<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @home_element.name %>
  <b>Parent:</b>
  <% @home_element.parent do |p| %>
      <%= p.name %>
  <% end %>    
 <b>Children:</b>
  <% @home_element.children.each do |c| %>
      <%= c.name  %>
  <% end %>

</p>


<%= link_to 'Edit', edit_home_element_path(@home_element) %> |
<%= link_to 'Back', home_elements_path %>
