<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Sherlock</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Products",    '#' %></li>
      <li><%= link_to "Services",    '#' %></li>
      <li><%= link_to "Inspections", '#' %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</foot
